<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/navbarAdmin.ejs')%>

            <h1>This is the Admin's page</h1>

            <%- include('partials/footer.ejs')%>

    </body>

</html>