<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<%- include('partials/head.ejs') %>

    <body class="text-center">

        <!-- navbar -->
        <nav class="navbar bg-body-tertiary shadow-sm">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Home</a>

                <div class="d-flex">
                    <a href="/login"><button type="button" class="btn btn-primary">Sign In / Sign Up</button></a>
                </div>
            </div>
        </nav>

        <br>
        <h1>MusicaBox</h1>

        <%- include('partials/footer.ejs')%>
    </body>

</html>