<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>
        <form action="/search" method="get">
            <label for="musicName">Search a music</label>
            <input type="text" name="musicName">
            <button type="submit">Search</button>
        </form>

        <%= for %>
    </body>

</html>