<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<%- include('partials/head.ejs') %>


    <body>
        <%- include('partials/navbarLoggedIn.ejs')%>


            <h1>Welcome <%= fullName %> !
            </h1>
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
            <%- include('partials/footer.ejs')%>

    </body>

</html>