<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>


    <body>
        <h1>Welcome <%= fullName %> !
        </h1>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
        <%- include('partials/footer.ejs')%>

    </body>

</html>